<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Universidad de murcia">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Vitrina</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <link href="/stylesheets/main.css" rel="stylesheet" />
    <link href="/stylesheets/vitrina.css" rel="stylesheet" />
</head>

<body>
    <main class="d-flex justify-content-between align-items-center" style="width: 100%;">
        <div class="album py-5" style="width: 100%;">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card" id="goldMedal">
                            <div class="img">

                                <img src="/images/premios/goldMedal.svg" alt="Gold Medal" width="50" height="50">
                            </div>
                            <h1>Gold Medal: {{medallaOro}}</h1>
                            <p>
                                Play Single mode and get 10 correct answers.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="silverMedal">
                            <div class="img">

                                <img src="/images/premios/silverMedal.svg" alt="Silver Medal" width="50" height="50">
                            </div>
                            <h1>Silver Medal: {{medallaPlata}}</h1>
                            <p>
                                Play Single mode and get 9 correct answers.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="bronzeMedal">
                            <div class="img">

                                <img src="/images/premios/bronzeMedal.svg" alt="Bronze Medal" width="50" height="50">
                            </div>
                            <h1>Bronze Medal: {{medallaBronce}}</h1>
                            <p>
                                Play Single mode and get 7 or 8 correct answers.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="infiniteRecord">
                            <div class="img">

                                <img src="/images/premios/infinite.svg" alt="Infinite Record" width="50" height="50">
                            </div>
                            <h1>Infinite Record: {{recordInfinito}}</h1>
                            <p>
                                Play Infinite Mode and beat yourself.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="trofeo">
                            <div class="img">
                                <img src="/images/premios/prize.svg" alt="Gold Trophy" width="40" height="130">
                            </div>
                            <h1>Gold Trophy: {{trofeo}}</h1>
                            <p>
                                Play Classroom Challenge and beat all your classmates.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="numPartidas">
                            <div class="img">

                                <img src="/images/premios/numero.svg" alt="Matchs Played" width="50" height="50">
                            </div>
                            <h1>Match Played: {{numPartidas}}</h1>
                            <p>
                                Play any mode and enjoy!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="/javascripts/addHyF.js"></script>
</body>

</html>